[Unit]
Description=NCM param watcher
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/comma/set_ncm.sh

[Install]
WantedBy=multi-user.target
