[Unit]
Description=ALSA UCM init
BindsTo=dev-snd-controlC0.device
After=dev-snd-controlC0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/alsaucm -c hw:comma3 set _verb HiFi set _enadev Speaker set _enadev Microphone

[Install]
WantedBy=multi-user.target
