[Unit]
Description=Initialize ALSA mixer routes
BindsTo=dev-snd-controlC0.device
After=dev-snd-controlC0.device

[Service]
Type=oneshot
ExecStart=/usr/comma/sound/sound_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
