[Unit]
Description=Weston
After=systemd-user-sessions.service getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=notify
User=comma
Group=comma

RuntimeDirectory=weston-comma
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/weston-comma

Environment=WESTON_MODULES=systemd-notify.so

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty

ExecStart=/usr/bin/weston --backend=drm --config=/usr/comma/weston.ini --socket=wayland-0
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
UMask=0077

[Install]
WantedBy=multi-user.target
