[Unit]
Description=Weston
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
Type=simple
Restart=always
KillSignal=SIGKILL
Environment="XDG_RUNTIME_DIR=/var/tmp/weston"
User=comma

UtmpIdentifier=tty1
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

ExecStartPre=/bin/bash -c "mkdir -p $XDG_RUNTIME_DIR"
ExecStartPre=/bin/bash -c "chown -R comma: $XDG_RUNTIME_DIR"
ExecStartPre=/bin/bash -c "chmod -R 700 $XDG_RUNTIME_DIR"

ExecStart=/usr/bin/weston --backend=drm-backend.so --config=/usr/comma/weston.ini --socket=wayland-0

[Install]
WantedBy=multi-user.target
